@model OrderingFood.Web.Models.OrderDetailsModel

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<div>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ordersForMeal.FirstOrDefault().Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ordersForMeal.FirstOrDefault().OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ordersForMeal.FirstOrDefault().Delivery)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ordersForMeal)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery)
                </td>
                <td>                    
                    @*@Html.ActionLink("|Edit Order|", "EditOrder", new { id = item.ID })
                    @Html.ActionLink("|Delete Order", "DeleteOrder", new { id = item.ID })*@
                </td>
            </tr>
        }
    </table>
</div>

<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Back to Meals", "Meals",routeValues:new { Id = Model.restoran.ID })</li>
</ul>

<ul class="nav navbar-nav navbar-right">
    @*<li>@Html.ActionLink("Add new Order", "CreateOrder", "Meal", routeValues: new { Id = Model.meal.RestaurantID }, htmlAttributes: new { })</li>*@
</ul>