@model OrderingFood.Web.Models.OrderDetailsModel

@{
    ViewBag.Title = "UserOrdersAlone";
}

<h2>@Html.DisplayName(Model.restoran.RestaurantName+"Orders")</h2>

<div>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ordersForMeal.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ordersForMeal.FirstOrDefault().Meal.MealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ordersForMeal.FirstOrDefault().Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ordersForMeal.FirstOrDefault().OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ordersForMeal.FirstOrDefault().Delivery)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ordersForMeal)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meal.MealName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery)
                </td>
                <td>                    
                    @Html.ActionLink("|Edit Order|", "UserEditOrder", new { id = item.ID })
                    @Html.ActionLink("|Delete Order", "UserDeleteOrder", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</div>

